<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="chat-container">
        <header>
            <h1>ᴇɴɢɪɴᴇᴇʀ</h1>
            <p>{{ username }}</p>
        </header>
        <div id="chat-box" class="chat-box"></div>
        <div class="message-box">
            <input id="message-input" class="message-input" type="text" placeholder="Type your message here...">
            <label for="image-input" class="image-label">Choose File</label>
            <input type="file" id="image-input" class="image-input" accept="image/*">
            <button type="submit" id="send-button">Send</button>
        </div>
    </div>

    <!-- Modal for Image Preview -->
    <div id="image-modal" class="image-modal">
        <span class="close-modal">×</span>
        <img class="modal-content" id="modal-image">
        <div id="caption"></div>
    </div>

    <script>
        var username = "{{ username }}";
        var security_code = "{{ security_code }}";
        initializeSocket(username, security_code);
    </script>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'93198deccd2053d2',t:'MTc0NDg2ODA3Ny4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script>
</body>
</html>